#video-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-upload-form * {
  /* margin: 2px; */
}

#uploaded-videos {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 5px;
}

.titled-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2px; */
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 144px;
}

.video-wrapper video {
  object-fit: fill;
}

#video-upload-info {
  color: #e41a1c;
}
