<form id="model-change-form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <div id="model-selection-wrapper">
      <span>Model Selection:</span>
      <select id="model-selection" name="models" id="models">
        {% for model in models %}
          <option value="{{model.id}}"
          {% if model.selected %}
            selected
          {% endif %}
          >{{model.name}}</option>
        {% endfor %}
      </select>
      <input type="hidden" id="model-csrf" name="csrf" value="asd">
  </div>
</form>
