<div id="uploaded-videos">

    {% for video in videos %}
    <div class='titled-video'>
        <div class='video_info_wrapper'>
            <b>{{video.title}}</b>
            {% if video.result == '' %}
            <i class="fas fa-cog fa-spin"></i>
            {% endif %}
        </div>
        <div class='video-wrapper'>
            <video width="256" height="144" controls >
            <source
            {% if video.result != '' %}
            src='{{video.result}}'
            {% else %}
            src='{{video.video.url}}'
            {% endif %}
            type="video/mp4">
            </video>
        </div>
    </div>
    {% endfor %}
</div>